@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@* @model WebApplication1.Models.TaiKhoanDetail *@
@{
}
<style>
    .round-image {
        width: 200px; /* Đặt kích thước cho hình ảnh */
        height: 200px;
        border-radius: 50%; /* Làm tròn góc của hình ảnh */
        object-fit: cover; /* Đảm bảo hình ảnh vừa với kích thước đã được đặt */
    }
</style>
<div>
    <img src="c:\users\admin\desktop\dacn\webapplication1\data\avatar.jpg" />
    <h5>Ten   @* @Model.ten *@</h5>
    <h5>Tai khoan   @* @Model.taiKhoan *@</h5>
    <h5>Mo mo @* @Model.soDienThoai *@</h5>
    <h5>Ngay sinh</h5>
    <h5>so dien thoai</h5>
    
</div>
<div style="text-align:center"><button><p>Dang ky lam tai xe</p></button></div>